@use '../color';
@use '../layout';
#banner {
  @include layout.container;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 48px;
  gap: 60px;
  @media screen and (min-width: 1024px) {
    flex-direction: row;
  }
  aside {
    flex-basis: 100%;
    @media screen and (min-width: 1024px) {
      flex-basis: 50%;
    }
    &.start {
      display: flex;
      flex-direction: column;
      gap: 40px;
      article {
        display: flex;
        flex-direction: column;
        gap: 16px;
      }
      .button-group {
        display: flex;
        flex-direction: column;
        gap: 16px;
        button,a {
          width: unset;
        }
        @media screen and (min-width: 1024px) {
          flex-direction: row;
          button, a {
            width: fit-content;
          }
        }
      }
    }
    &.end {
      position: relative;
      img {
        width: 100%;
      }
    }
  }
}
